In [1]:
import pyodbc 
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=DESKTOP-QVPS0TH;'
                      'Database=WideWorldImporters;'
                      'Trusted_Connection=yes;')

cursor = conn.cursor()
cursor.execute('SELECT PersonID,FullName,PreferredName FROM Application.People where PersonID=10')



for row in cursor:
    print(row)

(10, 'Stella Rosenhain', 'Stella')

In [2]:
import pyodbc 
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=DESKTOP-QVPS0TH;'
                      'Database=WideWorldImporters;'
                      'Trusted_Connection=yes;')

cursor = conn.cursor()
sql = "UPDATE Application.People SET FullName='Leo' where PersonID=4"

cursor.execute(sql)

print("reussi")
cursor.rollback()

reussi